@import './base.css';

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: inherit;
    font-size: inherit;
    scroll-behavior: smooth;
}


.wrapper {
    overflow: hidden;width: 100%;
    height: auto;position: relative;
}


.container {
    max-width: 1140px;
    margin: auto;
    padding: 0 15px;
    
}


*::-webkit-scrollbar {
    display: none;
}

.animate {
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: 1s all ease;
}

.animate.active {
    transform: translateY(0);
    opacity: 1;
}


/* Hero background image section start */
#hero-background {
    background: #231620 url(../img/background.jpg) no-repeat center right;
    background-size: 100% 100%;
    height: 740px;
    position: relative;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
#hero-background .img-fluid{width: 100%;position: absolute;height: 700px;}

.header {
    width: 100%;
    padding: 30px 0;
    z-index: 100;
    min-height: 100px;
    top: -100px;
    transition: .5s;
    background-color: rgba(35, 22, 32, 0);
    animation: drop-in 1s ease 200ms backwards;
}

@keyframes drop-in {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}


.header .container {
    max-width: 1350px;
    margin: auto;
}

.header.sticky {
    position: fixed;
    top: 0;
    background-color: rgba(35, 22, 32, 1);

}


.header .navbar {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    align-items: center;
}

.header .navbar .logo {
    color: #fff;
    font-size: 1.5rem;
    text-transform: uppercase;
    text-decoration: none;
    font-family: sans-serif;
    letter-spacing: 3px;
}

.header .navbar .contact-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header .navbar .contact-menu .link {
    font-size: 1rem;
    color: #fff;
    margin-right: 20px;
    text-decoration: none;
    padding: 10px;
}

.header .navbar .contact-menu .menu-btn {
    height: 41px;
    pointer-events: auto;
    position: sticky;
    width: 41px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10000;
}

.header .navbar .contact-menu .menu-btn::before {
    content: '';
    position: absolute;
    border-top: 2px solid #fff;
    border-top-style: solid;
    display: block;
    left: 0;
    top: 16px;
    width: 100%;
    transition: border-color .6s ease-out, top .2s ease-out .35s, transform .4s ease-out;
}

.header .navbar .contact-menu .menu-btn::after {
    border-top: 2px solid #fff;
    border-top-style: solid;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    width: 100%;
    top: 24px;
    transition: border-color .6s ease-out, top .2s ease-out .35s, transform .4s ease-out;
}



#collapseMenu {
    background-color: #ebeabe;
    width: 0%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -200px;
    overflow-y: scroll;
    visibility: hidden;
    transition: .5s;
    padding: 200px 100px 100px;

}

#collapseMenu .navbar-nav {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    opacity: 0;
    transform: translateY(100px);

}

#collapseMenu .navbar-nav .nav-item {
    opacity: .5;
}

#collapseMenu .navbar-nav .nav-item .nav-link {
    font-size: 3.25rem;
    font-weight: 400;
    text-decoration: none;
    line-height: auto;
    color: #000;
    font-family: "IvyPresto Disp Thi";
}

#collapseMenu .navbar-nav .nav-item .nav-link:hover {
    color: rgba(0, 0, 0, .4);
}

#collapseMenu .navbar-nav .investor-login {
    margin-top: 60px;
}

#collapseMenu .navbar-nav .investor-login .title {
    font-size: 1.25rem;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
    padding-bottom: 10px;
    margin-bottom: 50px;
}

#collapseMenu .navbar-nav .investor-login .list-item {
    margin: 10px 0;
}

#collapseMenu .navbar-nav .investor-login .list-item .link {
    padding: 10px 0;
    color: #000;
    text-decoration: none;
    margin-top: 50px;

}

#collapseMenu.show {
    right: 0;
    width: 50%;
    transition: 1s;position: fixed;
    height: 100vh;
    z-index: 100;
    visibility: visible;
}

#collapseMenu.show .navbar-nav {
    opacity: 1;
    transform: translateY(0);
}

#collapseMenu.show .nav-item {
    height: 70px;
    transform: translateY(-100px);
    opacity: 1;
    transition: 2s;

}

#collapseMenu.show .nav-item .nav-link {
    animation: menu-up ease 2s forwards;
    font-family: "IvyPresto Disp Thi";
    font-weight: 500;
}

@keyframes menu-up {
    from {
        opacity: 0;
        transform: translateY(100px);
    }

    to {
        opacity: 1;
        transform: translateY(0px);
    }
}


.cross::before {
    transform: rotate(45deg) translate(5px, 0);
    border-color: #000 !important;
}

.cross::after {
    transform: rotate(-45deg) translate(5px, 0);
    border-color: #000 !important;
}

.hero-content {
    height: 100vh;
    width: 100%;
}

.hero-heading {
    font-size: 6rem;
    padding: 350px 0 100px 30px;
    position: relative;
    /* top: 50%; */
    color: #fff;
    /* left: 30px; */
    line-height: 6rem;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    font-family: "IvyPresto Disp Thi";
    animation: drop-up 1s ease 200ms forwards;
}


.hero-heading span+span {
    color: #ebeabe;
    animation: drop-up 1s ease 200ms forwards;
}
.hero-heading span+span::after{
    content: '';position: absolute;
    top: 45px;left: 250px;
    width: 55px; border: 1px solid #fff;
    display: block;
}

@keyframes drop-up {
    from {
        opacity: 0;
        transform: translateY(100px);
        overflow-y: hidden;
    }

    to {
        opacity: 1;
        transform: translate(0px);
        overflow-y: visible;
    }
}

@media screen and (max-width:991px) {
    
}


/* Hero background image section end */



/* About Section Start */
.about-us,
.parterne-compnaies {
    padding: 100px 0;
}

.about-us__title,
.parterne-compnaies__title {
    font-size: .875rem;
    border-top: 1px solid rgba(0, 0, 0, .4);
    padding: 10px 0;
    color: #101010;
    margin-bottom: 50px;
}

.about-us__text,
.parterne-compnaies__text {
    font-size: 2.5rem;
    width: 75%;
    font-weight: 100;
    padding: 10px 0;
    color: #101010;
    font-family: "IvyPresto Disp Thi";
    transition: 1s;
}

.learn-more,
.scroll-more {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.learn-more .btn {
    width: 160px;
    align-self: flex-end;
}

.learn-more .btn .btn-learn {
    font-size: 1rem;
    text-transform: uppercase;
    display: block;
    position: relative;
    color: #000;
    font-weight: 600;
    text-decoration: none;
}

.learn-more .btn .btn-learn span {
    margin: 0 10px;
    padding: 10px;
    background-color: #fff;
    position: relative;
}

.learn-more .btn .btn-learn span::before {
    position: absolute;
    content: '';
    top: 90%;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #000;
    transition: width 1s;
}

.learn-more .btn .btn-learn::before {
    background: url(../img/right-arrow.svg) center center no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 24px;
    left: 0;
    margin-left: -25px;
    position: absolute;
    top: 0;
    width: 20px;
    z-index: -1;
    transition: transform 1s;
}

.learn-more .btn .btn-learn::after {
    background: url(../img/right-arrow.svg) center center no-repeat;
    background-size: contain;
    content: '';
    display: block;
    height: 24px;
    right: 35px;
    margin-left: -25px;
    position: absolute;
    top: 0;
    width: 20px;
    transition: transform 1s;
    z-index: -1;
}

.learn-more .btn .btn-learn:hover::before {
    transform: translateX(40px);
    visibility: hidden;
}

.learn-more .btn .btn-learn:hover::after {
    transform: translateX(40px);
    visibility: visible;
}

.learn-more .btn .btn-learn:hover span::before {
    width: 100%;
}

.learn-more .animate-arrow,
.scroll-more .animate-arrow {
    width: 25%;
    height: 200px;
    text-align: center;
    position: relative;

}

.learn-more .animate-arrow::before,
.scroll-more .animate-arrow::before {
    content: '';
    display: block;
    width: 0%;
    position: absolute;
    /* top: 119px;
    right: 45px; */
    border-top: 2px solid #000;
    z-index: 10;
    transform: rotate(45deg);
    transition: 3s;
}

.learn-more .animate-arrow .icon,
.scroll-more .animate-arrow .icon {
    width: 200px;
    height: 200px;
    position: absolute;
    display: block;
}

.learn-more .animate-arrow .icon::before,
.scroll-more .animate-arrow .icon::before {
    content: '';
    display: block;
    width: 0%;
    position: absolute;
    /* bottom: 60px;
    right: -60px; */
    transform: rotate(90deg);
    border-top: 2px solid #000;
    transition: 3s;
}

.learn-more .animate-arrow .icon::after,
.scroll-more .animate-arrow .icon::after {
    content: '';
    display: block;
    width: 0%;
    position: absolute;
    /* right: 0px;bottom: 0px; */

    border-top: 2px solid #000;
    transition: 3s;
}

.animate.active .learn-more .animate-arrow .icon::after {
    width: 60%;
    right: 0px;
    bottom: 0px;
}

.animate.active .learn-more .animate-arrow .icon::before {
    width: 60%;
    bottom: 60px;
    right: -60px;
}

.animate.active .learn-more .animate-arrow::before {
    width: 80%;
    top: 119px;
    right: 45px;
}

/* About Section End */


/* Our Journey Section Start */
.our-journey {
    width: 100%;
    overflow: scroll;
}

.our-journey .heading {
    font-size: 4rem;
    font-family: "IvyPresto Disp Thi";
    font-weight: 300;
    margin-bottom: 30px;
}

.our-journey .content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;

}

.our-journey .content .img {
    width: 48%;
    min-height: 460px;
}

.our-journey .content .img .img-fluid {
    width: 100%;
}

.our-journey .content .details {
    width: 42%;
    height: 450px;
    overflow-y: scroll;
}

.our-journey .content .details .main-text {
    font-size: 1.375rem;
    padding: 15px 0;
    position: relative;
    margin-bottom: 50px;
    font-family: sans-serif;font-weight: 600;
}

.our-journey .content .details .main-text::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #010101;
    transition: 2.5s;
}

.our-journey .content .details .main-text::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #010101;
    transition: 2.5s;
}

.animate.active .content .details .main-text::before {
    width: 100%;
}

.animate.active .content .details .main-text::after {
    width: 100%;
}

.our-journey .content .details .counter-text {
    font-size: 1.125rem;
    color: #000;
    font-weight: 500;
    margin-bottom: 20px;
    font-family: sans-serif;
}

.our-journey .content .details .list-group {
    position: relative;
}

.our-journey .content .details .list-group .list-item {
    margin-bottom: 25px;
}

.our-journey .content .details .list-group .list-item .count {
    font-size: 5rem;
    display: block;
    font-weight: normal;
    font-family: "IvyPresto Disp Thi";
    position: relative;
    margin-left: 25px; line-height: 4rem;
}
.our-journey .content .details .list-group .list-item .para{
    font-size: 1rem; font-family: sans-serif; font-weight: normal;
    margin-left: 25px;
}

.our-journey .content .details .list-group .list-item::before {
    content: '';
    position: absolute; display: block;
    width: 1px;height: 20%;border: 1px solid rgba(0, 0, 0, .3);
    
}

/* Our Journey Section End */

/* Parterns companies Section start */
.parterne-compnaies .scroll-more {
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    padding-bottom: 50px;
}

.parterne-compnaies .scroll-more .text {
    font-size: 1rem;
    color: #000;
    text-decoration: none;
    align-self: flex-end;
    font-weight: 600;
}

.animate.active .scroll-more .animate-arrow .icon::after {
    width: 60%;
    right: 0px;
    bottom: 0px;
}

.animate.active .scroll-more .animate-arrow .icon::before {
    width: 60%;
    bottom: 60px;
    right: -60px;
}

.animate.active .scroll-more .animate-arrow::before {
    width: 80%;
    top: 119px;
    right: 45px;
}

/* Parterns companies Section end */


/* Image Slider section start */
.img-slider {
    width: 100%;
    padding: 50px 0;
    position: relative;
    overflow: auto;
    height: 450px;
}

.img-slider .container {
    position: relative;
}

.img-slider .slider {
    width: 100%;
    height: 400px;
    overflow: hidden;
    margin-bottom: 30px;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
}

.img-slider .slider .slide-img {
    height: 400px;
    width: 100%;
    overflow: hidden;
    position: relative;

}

.img-slider .slider .img-fluid {
    width: 100%;
    transition: transform 1s;
}

.img-slider .slider .heading {
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.img-slider .slider .heading .title {
    width: 40%;
    font-size: 2.5rem;
    font-weight: normal;
    font-family: "IvyPresto Disp Thi";
}

.img-slider .slider .heading .text {
    width: 70%;
    font-size: .875rem;
    line-height: 20px;
    font-family: sans-serif;font-weight: normal;
}

.img-slider .slider .slide-img .overlay {
    width: 400px;
    height: 200px;
    border: 1px solie #000;
    position: absolute;
    bottom: 40px;
    left: 20px;
    z-index: 10;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.img-slider .slider .slide-img .overlay .brand-logo {
    width: 180px;
    height: 180px;
    background-color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.img-slider .slider .slide-img .overlay .brand-logo .img-fluid {
    width: 70%;
}

.img-slider .slider .slide-img .overlay .learn-btn {
    font-size: 1rem;
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-family: sans-serif; font-weight: 600;
}

.img-slider .slider .slide-img .overlay .arrow {
    width: 180px;
    height: 180px;
    background-color: #fff;
    padding: 20px;
    position: relative;
    overflow: hidden;
}

.img-slider .slider .slide-img .overlay .arrow .img-fluid.img-1 {
    position: absolute;
    right: 20px;
    bottom: 25px;
    transform: rotate(43deg);
    width: 20%;
}

.img-slider .slider .slide-img .overlay .arrow .img-fluid.img-2 {
    position: absolute;
    left: 20px;
    top: 25px;
    transform: rotate(43deg);
    width: 20%;
    opacity: 0;
}

.img-slider .slider:hover .img-fluid {
    transform: scale(1.2);
}

.img-slider .slider:hover .slide-img .overlay .arrow .img-fluid.img-1 {
    animation: move ease 1000ms forwards;
}

.img-slider .slider:hover .slide-img .overlay .arrow .img-fluid.img-2 {
    animation: move ease 1200ms forwards;
    animation-delay: .3s;
}

@keyframes move {
    0% {
        transform: rotate(43deg) translate(0px);
        opacity: .5;
    }

    100% {
        transform: rotate(43deg) translate(144px);
        opacity: 1;
    }

}

.animate.active .slider {
    transition: all 1s;
}

/* Image Slider section end */


/* Portfolio section start */
.portfolio {
    width: 100%;
    padding: 100px 0 130px;
    overflow: hidden;
}

.portfolio .heading,
.news-media .heading {
    text-align: center;
    width: 100%;
    padding: 80px 0;
}

.portfolio .heading .title,
.news-media .heading .title {
    font-size: 1rem;
    text-transform: uppercase;
    font-size: 1.25rem;
    font-weight: 500;
    display: block;
    color: #000;
    position: relative;
    text-decoration: none;
    width: 50%;
    margin: auto; font-family: sans-serif; font-weight: 500;
}

.portfolio .heading .title::before,
.news-media .heading .title::before {
    content: '';
    position: absolute;
    top: -80px;
    left: 43%;
    width: 0%;
    height: 2px;
    background-color: #000;
    transition: width 1s linear;
    transform: rotate(-90deg);

}

.animate.active .heading .title::before {
    width: 15%;
}

.portfolio .heading .title::after,
.news-media .heading .title::after {
    content: '';
    position: absolute;
    bottom: -10px;
    width: 0%;
    height: 2px;
    right: 30.33%;
    background-color: #000;
    transition: width 1s linear;
}

.portfolio .heading .title:hover::after {
    width: 39%;
    left: 30.33%;
}

.portfolio .scrolling-text {
    width: 100%;
    position: relative;
}

.portfolio .scrolling-text .text {
    white-space: nowrap;
    font-size: 5rem;
    font-family: "IvyPresto Disp Thi";
    font-weight: lighter;
}

.portfolio .scrolling-text .text-forward {
    animation: moveFor 8s linear 0s infinite forwards;
}

@keyframes moveFor {
    form {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

.portfolio .scrolling-text .text-reverse {
    animation: moveRev 8s linear 0s infinite reverse;
}

@keyframes moveRev {
    form {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

.portfolio .scrolling-text .contact-us-btn {
    width: 180px;
    height: 180px;
    border: none;
    background-color: #ebeabe;
    position: absolute;
    border-radius: 50%;
    top: 25%;
    right: 35%;
    font-size: 1.25rem; font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
    transition: transform .5s;
    box-sizing: inherit;
}

.portfolio .scrolling-text .contact-us-btn .img-fluid {
    width: 18%;
    position: absolute;
    left: 30px;
    bottom: 30px;
    transform: rotate(45deg);
}

.portfolio .scrolling-text .contact-us-btn:hover {
    transform: scale(1.2);
}

/* Portfolio section end */


/* News and Media Section Start */
.news-media {
    width: 100%;
    background-color: #231620;
    padding: 50px 0;

}

.news-media__title {
    font-size: .875rem;
    color: #fff;
    padding: 15px 0;font-family: sans-serif;font-weight: 500;
    border-top: 1px solid rgba(255, 255, 255, .3);
    margin-bottom: 20px;
}

.news-block {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.news-block .block {
    width: 45%;
    text-decoration: none;
    text-align: center;
    margin-bottom: 100px;
}

.news-block .block .block-title {
    font-size: 2rem;
    color: #fff;
    font-family: "IvyPresto Disp Thi";
    font-weight: 300;
    line-height: 50px;
}

.news-block .block .block-text {
    font-size: 1rem;
    color: #fff;
    font-weight: 400;
    margin: 30px 0 60px;
}

.news-block .block .media {
    position: relative;
}

.news-block .block .media>.img-fluid {
    width: 0%;
    transition: width 2s;
}

.news-block .block .media .arrow {
    width: 10px;
    height: 10px;
    background-color: #fff;
    transition: 2s;
    position: absolute;
    right: 30px;
    bottom: 30px;
    overflow: hidden;
}

.news-block .block .media .arrow .img-fluid {
    width: 30%;
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    left: 50%;
    /* animation: move 1s linear;   */
}

.animate.active .block .media>.img-fluid {
    width: 100%;
}

.animate.active .block .media .arrow {
    width: 100px;
    height: 100px;
}

.animate.active .block .media .arrow .img-fluid {
    animation: move 2s linear;
}

@keyframes move {
    0% {
        transform: rotate(45deg);
        opacity: 0;
        top: 50%;
        left: 50%;
    }

    100% {
        transform: rotate(45deg);
        opacity: 1;
        top: 100%;
        left: 100%;
    }
}

.news-media .heading .title {
    color: #fff;
}

.news-media .heading .title::before,
.news-media .heading .title::after {
    background-color: #fff;
}

.news-media .heading .title:hover::after {
    width: 39%;
    left: 30.33%;
}

/* News and Media Section End */

/* Footer section start */
.footer {
    width: 100%;
    background-color: #231620;
}

footer .container {
    max-width: 1350px;
    margin: auto;
}

.footer .footer-blocks {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer .footer-blocks .sec {
    width: 50%;
}

.footer .footer-blocks .sec1 .logo {
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
}

.footer .footer-blocks .sec2 {
    padding: 0 20px;
}

.footer .footer-blocks .sec2 .foot-item .foot-link {
    font-size: 4rem;
    font-family: "IvyPresto Disp Thi";
    text-decoration: none;
    padding: 5px;
    color: #fff;
    margin-bottom: 5px;
}

.footer .copyright {
    margin-top: 50px;
}

.footer .copyright-text {
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    font-family: sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.footer .copyright .social {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer .copyright .social .legal {
    font-size: 1rem;
    color: #fff; font-family: sans-serif;
    font-weight: 500;
    text-decoration: none;
}

.footer .copyright .social .social-link .link {
    font-size: 1rem;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 300;
    margin-left: 15px;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 5px;
}

.footer .copyright .social .social-link .link:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 0%;
    height: 1px;
    background-color: #fff;
    right: 0;
    transition: width 1s;
}

.footer .copyright .social .social-link .link:hover::after {
    width: 100%;left: 0;right: unset;
    
}

/* Footer section end */



@media screen and (max-width:1084px) {
    .hero-heading{font-size: 5rem;padding: 300px 0 0 30px;}
    .hero-heading span+span::after {
        top: 50px;left: 200px;width: 55px;
    }
    #collapseMenu.show {width: 75%;}

    .learn-more .btn .btn-learn::before{margin-left: -10px;}
    .learn-more .btn .btn-learn::after{right: 45px;}
    .animate.active .learn-more .animate-arrow::before,.animate.active .scroll-more .animate-arrow::before {width: 100%;top: 110px;  right: 7px; }

}

@media screen and (max-width:991px) {
    .about-us__text, .parterne-compnaies__text {font-size: 2rem;   width: 100%; }
    .learn-more, .scroll-more {justify-content: space-around;  flex-wrap: nowrap;}
    .animate.active .learn-more .animate-arrow::before, .animate.active .scroll-more .animate-arrow::before {
        top: 132px;right: -42px;
    }
    .animate.active .learn-more .animate-arrow .icon::after, .animate.active .scroll-more .animate-arrow .icon::after {width: 50%;}
    
    .animate.active .learn-more .animate-arrow .icon::before, .animate.active .scroll-more .animate-arrow .icon::before {width: 50%;bottom: 50px;right: -50px;}

    .our-journey .heading{font-size: 3rem;}
    .our-journey .content .details .main-text{font-size: 1rem;}
    .our-journey .content .details .list-group .list-item .count{font-size: 4rem;}

    .img-slider .slider .heading{padding: 0 15px;}

    .portfolio .scrolling-text .text-reverse, .portfolio .scrolling-text .text-forward{font-size: 4rem;}

    .news-block{flex-direction: column;flex-wrap: wrap;}
    .news-block .block{width: 100%; flex:  0 0 100%;margin-bottom: 30px;}

    .animate.active .learn-more .animate-arrow::before, .animate.active .scroll-more .animate-arrow::before{
        top: 130px;right: 12px;width: 80%;
    }
}   

@media screen and (max-width:767px){
    #collapseMenu.show{width: 100%;}
    .our-journey .content .img,.our-journey .content .details{width: 100%;height: auto;margin-bottom: 20px;overflow: unset;}
    .our-journey .content .details .main-text{font-size: 1.25rem;}
    .about-us, .parterne-compnaies{padding: 50px 0 60px;}

    /* .img-slider{height: unset;position: static;}
    .img-slider .slider{position: static;overflow: unset;} */
    .img-slider .slider .slide-img .overlay .brand-logo,.img-slider .slider .slide-img .overlay .arrow{width: 150xp;height: 150px;}

    .footer .footer-blocks .sec1 .logo{font-size: 2rem;}
    .footer .footer-blocks .sec2 .foot-item .foot-link{font-size: 2rem;}
    .footer .copyright-text{font-size: .875rem;}

    .our-journey{overflow: unset;}
    .animate.active .learn-more .animate-arrow::before, .animate.active .scroll-more .animate-arrow::before{
        top: 145px;right: -35px;width: 80%;
    }
}

@media screen and (max-width:575px){
    #hero-background{height: 550px;}
    .hero-heading{font-size: 3rem;padding: 200px 0 0 20px;line-height: inherit;}
    .hero-heading span+span::after{left: 130px;width: 30px;top: 35px;}
    .header .navbar .contact-menu .link{display: none;}
    #collapseMenu{padding: 200px 50px 50px;}
    #collapseMenu .navbar-nav .investor-login{margin-top: 0;}
    #collapseMenu.show .nav-item{height: 50px;}
    #collapseMenu .navbar-nav .nav-item .nav-link{font-size: 2rem;line-height: inherit;}
    .learn-more, .scroll-more{justify-content: space-between;}
    .learn-more .animate-arrow, .scroll-more .animate-arrow{width: 45%;}
    .learn-more .btn{margin-left: 20px;}
    .animate.active .learn-more .animate-arrow::before, .animate.active .scroll-more .animate-arrow::before{
        width: 80%;top: 128px; right: 17px;
    }
    .portfolio .scrolling-text .text-reverse, .portfolio .scrolling-text .text-forward{font-size: 3rem;}
    .portfolio .scrolling-text .contact-us-btn{top: 0;width: 150px;height: 150px;font-size: 1rem;}

    .about-us__text, .parterne-compnaies__text{font-size: 1.5rem;}

    .learn-more .animate-arrow, .scroll-more .animate-arrow{width: 55%;}
    .animate.active .learn-more .animate-arrow::before, .animate.active .scroll-more .animate-arrow::before{
        top: 136px;right: -9px;
    }
    .our-journey .content .img{min-height: unset;}
    .img-slider .slider .heading{flex-direction: column;justify-content: flex-start;align-items: flex-start;}
    .img-slider .slider .heading .title{width: 100%;}
    .img-slider .slider .heading .text{width: 100%;}

    .footer .footer-blocks{display: block;}
    .footer .footer-blocks .sec{width: 100%;margin-bottom: 20px;}
    .footer .footer-blocks .sec2{padding: 0;}

    .portfolio .heading .title, .news-media .heading .title{width: 100%;font-size: 1rem;}
    .portfolio .scrolling-text .text-reverse, .portfolio .scrolling-text .text-forward{font-size: 2rem;}
    .portfolio .scrolling-text .contact-us-btn{width: 100px;height: 100px;right: 10%;font-size: .875rem;}
    .portfolio .scrolling-text .contact-us-btn .img-fluid{bottom: 15px;}

    .news-block .block .block-title{font-size: 1.5rem;line-height: 30px;}

    .animate.active .learn-more .animate-arrow::before, .animate.active .scroll-more .animate-arrow::before{
        top: 133px;right: 75px;width: 60%;
    }



}


@media screen and (max-width:425px) {
    .animate.active .learn-more .animate-arrow::before, .animate.active .scroll-more .animate-arrow::before{
        top: 135px;right: -7px;width: 80%;
    }
}